<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CQSSConfig" type="CQSS.Common.Infrastructure.Configuration.CQSSConfig, CQSS.Common" requirePermission="false"/>
    <section name="NRecoConfig" type="NReco.Recommender.Extension.Configuration.NRecoConfig, NReco.Recommender.Extension" requirePermission="false"/>
  </configSections>

  <CQSSConfig>
    <Engine Type="NReco.Recommender.Engine.RecommenderEngine, NReco.Recommender.Engine"/>
    <ObjectContainer Type="CQSS.Common.ObjectContainer.Autofac.AutofacObjectContainer, CQSS.Common.ObjectContainer.Autofac"/>
    <AssemblySkipPattern Value="^System|^mscorlib|^Microsoft|^AjaxControlToolkit|^Antlr3|^Autofac|^AutoMapper|^Castle|^ComponentArt|^CppCodeProvider|^DotNetOpenAuth|^EntityFramework|^EPPlus|^FluentValidation|^ImageResizer|^itextsharp|^log4net|^MaxMind|^MbUnit|^MiniProfiler|^Mono.Math|^MvcContrib|^Newtonsoft|^NHibernate|^nunit|^Org.Mentalis|^PerlRegex|^QuickGraph|^Recaptcha|^Remotion|^RestSharp|^Rhino|^Telerik|^Iesi|^TestDriven|^TestFu|^UserAgentStringLibrary|^VJSharpCodeProvider|^WebActivator|^WebDev|^WebGrease"/>
    <AssemblyRestrictPattern Value="CQSS.*"/>
    <IsWebApplication Value="false"/>
  </CQSSConfig>
    
  <NRecoConfig>
    <Use name="SqlServer">
      <DBServer name="SqlServer">
        <ReadServers>
          <Server ConnectionString="data source=localhost1;uid=sa;pwd=lcksy+110;database=CQSS_Recommender;"/>
          <Server ConnectionString="data source=localhost2;uid=sa;pwd=lcksy+110;database=CQSS_Recommender;"/>
          <Server ConnectionString="data source=localhost3;uid=sa;pwd=lcksy+110;database=CQSS_Recommender;"/>
        </ReadServers>
        <WriteServers>
          <Server ConnectionString="data source=localhost4;uid=sa;pwd=lcksy+110;database=CQSS_Recommender;"/>
        </WriteServers>
      </DBServer>
      <DBServer name="RedisServer">
        <Servers>
          <Server ConnectionString="192.168.81.68:7001"/>
          <Server ConnectionString="192.168.81.68:7002"/>
          <Server ConnectionString="192.168.81.68:7003"/>
          <Server ConnectionString="192.168.81.68:7004"/>
          <Server ConnectionString="192.168.81.68:7005"/>
          <Server ConnectionString="192.168.81.68:7006"/>
        </Servers>
      </DBServer>
      <DBServer name="MongoServer">
        <Servers>
          <Server ConnectionString="mongodb://192.168.81.68:27017"/>
        </Servers>
      </DBServer>
    </Use>
  </NRecoConfig>
</configuration>