<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="CQSSConfig" type="CQSS.Common.Infrastructure.Configuration.CQSSConfig, CQSS.Common" requirePermission="false" />
    <section name="NRecoConfig" type="NReco.Recommender.Extension.Configuration.NRecoConfig, NReco.Recommender.Extension" requirePermission="false" />
  </configSections>

  <CQSSConfig>
    <Engine Type="NReco.Recommender.Engine.RecommenderEngine, NReco.Recommender.Engine" />
    <ObjectContainer Type="CQSS.Common.ObjectContainer.Autofac.AutofacObjectContainer, CQSS.Common.ObjectContainer.Autofac" />
    <AssemblySkipPattern Value="^System|^mscorlib|^Microsoft|^AjaxControlToolkit|^Antlr3|^Autofac|^AutoMapper|^Castle|^ComponentArt|^CppCodeProvider|^DotNetOpenAuth|^EntityFramework|^EPPlus|^FluentValidation|^ImageResizer|^itextsharp|^log4net|^MaxMind|^MbUnit|^MiniProfiler|^Mono.Math|^MvcContrib|^Newtonsoft|^NHibernate|^nunit|^Org.Mentalis|^PerlRegex|^QuickGraph|^Recaptcha|^Remotion|^RestSharp|^Rhino|^Telerik|^Iesi|^TestDriven|^TestFu|^UserAgentStringLibrary|^VJSharpCodeProvider|^WebActivator|^WebDev|^WebGrease" />
    <AssemblyRestrictPattern Value="CQSS.*" />
    <IsWebApplication Value="true" />
  </CQSSConfig>

  <NRecoConfig>
    <Use name="SqlServer">
      <DBServer name="SqlServer">
        <ReadServers>
          <Server ConnectionString="data source=localhost;uid=sa;pwd=lcksy+110;database=CQSS_Recommender;" />
        </ReadServers>
        <WriteServers>
          <Server ConnectionString="data source=localhost;uid=sa;pwd=lcksy+110;database=CQSS_Recommender;" />
        </WriteServers>
      </DBServer>
      <DBServer name="MongoServer">
        <Servers>
          <Server ConnectionString="localhost:27017:cqss" />
        </Servers>
      </DBServer>
    </Use>
  </NRecoConfig>

  <system.serviceModel>
    <services>
      <service name="NReco.Recommender.Service.RecommenderService">
        <endpoint address="" binding="basicHttpBinding" contract="NReco.Recommender.ServiceContract.IRecommenderService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->

</configuration>